name: CI/CD Pipeline - Docker + Kubernetes
 
on:
  push:
    branches:
      - main
 
jobs:
  deploy:
    runs-on: ubuntu-latest
 
    steps:
 
    # 1️⃣ Checkout Repository
    - name: Checkout Code
      uses: actions/checkout@v4
 
 
    # 2️⃣ Login to Docker Hub
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
 
 
    # 3️⃣ Build Docker Image (SHA + latest)
    - name: Build Docker Image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/java-docker-ci:${{ github.sha }} .
        docker tag ${{ secrets.DOCKER_USERNAME }}/java-docker-ci:${{ github.sha }} \
                   ${{ secrets.DOCKER_USERNAME }}/java-docker-ci:latest
 
 
    # 4️⃣ Push Image to Docker Hub
    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/java-docker-ci:${{ github.sha }}
        docker push ${{ secrets.DOCKER_USERNAME }}/java-docker-ci:latest
 
 
    # 5️⃣ Set up kubectl
    - name: Set up Kubectl
      uses: azure/setup-kubectl@v4
 
 
    # 6️⃣ Configure Kubeconfig (for Minikube/EC2)
    - name: Configure Kubeconfig
      run: |
        mkdir -p $HOME/.kube
        echo "${{ secrets.KUBE_CONFIG }}" > $HOME/.kube/config
 
 
    # 7️⃣ Update Image in Deployment
    - name: Update Deployment Image
      run: |
        kubectl set image deployment/java-ci-deployment \
        java-ci-container=${{ secrets.DOCKER_USERNAME }}/java-docker-ci:${{ github.sha }}
 
 
    # 8️⃣ Rollout Restart
    - name: Restart Deployment
      run: |
        kubectl rollout status deployment/java-ci-deployment --timeout=180s
